### Q1) Write a program to create a Tuples.

In [35]:
t=(12,45,36,'AJay')
t1=t
print(t1)

(12, 45, 36, 'AJay')

In [36]:
type(t)

tuple

### Q2) Write a programe to create a Tuple with different data types.

In [37]:
t=[(1,5,36,78,96)]
t=t1
print(t1)

(12, 45, 36, 'AJay')

In [38]:
type(t)

tuple

In [39]:
t=([23,6,],'Ajay',56,[1,2,3,4])
print(t)

([23, 6], 'Ajay', 56, [1, 2, 3, 4])

In [40]:
type(t)

tuple

In [41]:
d={2,4,6,8,78,45}
print(d)

{2, 4, 6, 8, 45, 78}

In [42]:
type(d)

set

In [43]:
d1={1:'one',2:'Two',3:'Three'}
print(d1)

{1: 'one', 2: 'Two', 3: 'Three'}

In [44]:
type(d1)

dict

In [45]:
l=[12,36,52,'Ajay',5+8j]
print(l)

[12, 36, 52, 'Ajay', (5+8j)]

In [46]:
type(l)

list

### Q3) Write a program to create tuple with numbers and print one item.

In [47]:
tuple = (5, 10, 15, 20, 25)
print(tuple)

(5, 10, 15, 20, 25)

In [48]:
tuple[0]

5

### Q4) Write a program to convert Tuple to a String.

In [49]:
T = ('Welcome', 'to', 'Python', 'World')
T

('Welcome', 'to', 'Python', 'World')

In [50]:
t1 = T
str = ''.join(t1)
print (str)

WelcometoPythonWorld

In [51]:
type(T)

tuple

### Q5) Write a program to get the 4th element and 4th element from last of a tuple.

In [52]:
t = ('Welcome', 'to', 'Python', 'World','of','Programming')
print(t)
i = t[3]
print("4th Elements From Tuple :",i)
j = t[-4]
print("4th Elements From Last Tuple :",j)

('Welcome', 'to', 'Python', 'World', 'of', 'Programming')
4th Elements From Tuple : World
4th Elements From Last Tuple : Python

### Q6) Write a program to add item to tuple.

In [53]:
s=(2,5,8)
s1 = s + (8, 16, 67)
print(s1)
print(s)

(2, 5, 8, 8, 16, 67)
(2, 5, 8)

In [54]:
type(s)

tuple

In [55]:
type(s1)

tuple